body {
    background-image: url('images/restaurentimage1.jpg');
    background-size: 1600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation {
    position: sticky;
    top: 44px;
}

.heading {
    position: relative;
    top: -20px;
    left: 15px;
    font-family: Freestyle Script;
    color: rgba(255, 250, 250, 0.8);
    font-size: 35px;
    letter-spacing: 5px;
}

li {
    display: inline;
    padding: 20px;
    position: relative;
    left: 565px;
    position: relative;
    top: -50px;
    color: rgba(255, 250, 250, 0.8);
}

.hyperlink {
    text-decoration: none;
   color: rgba(255, 250, 250, 0.8);
}

a:hover{
    text-decoration: underline;
}

.mylogo{
    margin-top: -60px;
    position: sticky;
    top: 124px; 
}

.subheading{
    font-family: Freestyle Script;
    color: rgba(255, 250, 250, 0.8);
    font-size: 35px;
    letter-spacing: 5px;
    position: relative;
    left: 500px;
    top: -200px;  
}

.hyperlink1{
    text-decoration: none;
    color: rgb(255, 250, 250);
   font-size: 35px;
   position: relative;
   right: 350px;
   top: 45px;
}

.navigation1{
    background-color: rgba(0, 0, 128, 0.2);
    padding: 20px;
    position: relative;
    top: -100px;
}

.foodnav{
   background-color:  rgba(0, 0, 128, 0.2);
}

.nav2{
    background-color: rgba(255, 250, 250, 0.4);
}

.navigation2{
    text-decoration: none;
    color: rgb(255, 250, 250);
   font-size: 35px;
   position: relative;
   left: 150px;
   top: 45px;
}

.homenav{
    text-decoration: none;
    position: relative;
   left: 600px;
    color: rgb(255, 250, 250);
   font-size: 35px;
}

.details{
    position: relative;
    right: 200px;
    color: rgba(255, 250, 250, 0.8);
    font-size: 35px;
}

.discount{
    color: rgb(127, 255, 0);
    font-size: 35px;
}