.loginform{
margin-left:700px;
margin-top:100px;
border:1px solid lightgrey;
width:420px;
height:420px;
backgroundcolor:#fff;
box-shadow:5px 5px 5px grey;
}


input{
width:350px;
padding:15px;
border:1px solid lightgrey;
border-radius:5px;
margin-left:19px;
margin-top:15px;
}


.btn-login{
width:380px;
background-color:#1877f2;
color:#fff;
font-size:15px;
font-weight:900;
border:none;
border-radius:5px;
padding:15px;
margin-left:19px;
margin-top:15px;
}



a{
text-decoration:none;
margin-left:150px;
}




.btn-create{
width:220px;
margin-left:100px;
background-color:#42b72a;
color:#fff;
font-size:15px;
font-weight:900;
border:none;
border-radius:5px;
padding:15px;
margin-top:15px;
}